{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <li class="active"><a href="{% url 'jobs:index' %}">Jobs</a></li>
    <li>{{ object.job.short_name }}</li>
    <li><a href="{% url 'jobs:runs' pk=object.job.id %}">Runs</a></li>
    <li>{{ object.id }}</li>
    <li class="active">Profiling</li>
{% endblock %}

{% block page_content %}
    {% include "jobs/runs/partials/profiling_section.html" with section=object.profiling %}
{% endblock %}
