.job-status:after {
    content: "?";
    background-color: gray;
}

.job-status.succeeded:after {
    content: "\2713";
    color: green;
}

.job-status.failed:after {
    content: "\2717";
    color: red;
}

.job-status.pending:after {
    content: "\25b6";
    color: yellow;
}

.profiling-duration-bar {
    background-color: red;
    color: white;
    height: 1.5em;
    overflow: hidden;
}

.profiling-duration-bar:before {
    content: "Time:";
}

.profiling-memory-bar {
    background-color: green;
    color: white;
    height: 1.5em;
    overflow: hidden;
}

.profiling-memory-bar:before {
    content: "Mem:";
}
